<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}">
	<!-- Custom CSS -->
	<link th:href="@{/css/icheck-bootstrap.min.css}" rel="stylesheet">

	<link th:href="@{/css/float-chart.css}" rel="stylesheet">

	<link th:href="@{/css/sweetalert2/sweetalert2.css}" rel="stylesheet">

	<link th:href="@{/css/datatable/dataTables.bootstrap4.min.css}" rel="stylesheet">

	<link th:href="@{/css/datatable/responsive.bootstrap.min.css}" rel="stylesheet">

	<link th:href="@{/css/inputFloat/input-material.css}" rel="stylesheet">

	<link th:href="@{/css/toastr/toastr.min.css}" rel="stylesheet">

	<link rel="stylesheet" th:href="@{/css/style.min.css}" />
</head>

<body>

	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
		data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

		<header class="topbar" data-navbarbg="skin5">
			<nav class="navbar top-navbar navbar-expand-md navbar-dark">
				<div class="navbar-header" data-logobg="skin5">

					<a class="navbar-brand" href="index.html">
						<!-- Logo icon -->
						<b class="logo-icon ps-2">
							<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
							<!-- Dark Logo icon -->
							<img src="dist/img/logo-icon.png" alt="homepage" class="light-logo" />

						</b>
						<!--End Logo icon -->
						<!-- Logo text -->
						<span class="logo-text">
							<!-- dark Logo text -->
							<img src="dist/img/logo-text.png" alt="homepage" class="light-logo" />

						</span>

					</a>

					<a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
							class="ti-menu ti-close"></i></a>
				</div>

				<div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

					<ul class="navbar-nav float-start me-auto">
						<li class="nav-item d-none d-lg-block"><a
								class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
								data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>

					</ul>

					<ul class="navbar-nav float-end">

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#"
								id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="dist/img/1.jpg" alt="user" class="rounded-circle" width="31">
							</a>
							<ul class="dropdown-menu dropdown-menu-end user-dd animated"
								aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="javascript:void(0)"><i class="ti-user me-1 ms-1"></i>
									My Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings me-1 ms-1"></i>
									Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="javascript:void(0)"><i
										class="fa fa-power-off me-1 ms-1"></i> Logout</a>
								<div class="dropdown-divider"></div>
							</ul>
						</li>

					</ul>
				</div>
			</nav>
		</header>

		<aside class="left-sidebar" data-sidebarbg="skin5">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar">
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav">
					<ul id="sidebarnav" class="pt-4">
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html"
								aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i>
								<span class="hide-menu">Dashboard</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
								aria-expanded="false">
								<i class="mdi mdi-account-multiple"></i>
								<span class="hide-menu">Usuarios </span>
							</a>
							<ul aria-expanded="false" class="collapse  first-level">
								<li class="sidebar-item">
									<a href="administradores.html" class="sidebar-link">
										<i class="mdi mdi-account-star"></i>
										<span class="hide-menu"> Administradores</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a href="cliente.html" class="sidebar-link">
										<i class="mdi mdi-account"></i>
										<span class="hide-menu"> Clientes</span>
									</a>
								</li>
							</ul>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
								aria-expanded="false">
								<i class="mdi mdi-package-variant"></i>
								<span class="hide-menu">Inventario </span>
							</a>
							<ul aria-expanded="false" class="collapse  first-level">
								<li class="sidebar-item">
									<a th:href="@{/categoria}" class="sidebar-link">
										<i class="mdi mdi-animation"></i>
										<span class="hide-menu"> Categorias</span>
									</a>
								</li>

							</ul>
						</li>

					</ul>
				</nav>
			</div>

		</aside>

		<div class="page-wrapper">

			<div class="page-breadcrumb">
				<div class="row">
					<div class="col-12 d-flex no-block align-items-center">
						<h4 class="page-title">Dashboard</h4>
						<div class="ms-auto text-end">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">

				<div class="row">

					<div class="card">
						<div class="card-body">

							<div class="row">



							</div>

						</div>
					</div>

				</div>

			</div>

			<footer class="footer text-center">
				Todos los Derechos Reservados - Administrador Phone
			</footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>

	</div>


	<script th:src="@{/js/lib/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/js/lib/bootstrap.bundle.min.js}"></script>

	<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

	<script th:src="@{/js/lib/perfect-scrollbar.jquery.min.js}"></script>

	<script th:src="@{/js/lib/sparkline.js}"></script>
	<!--Wave Effects -->
	<script th:src="@{/js/waves.js}"></script>
	<!--Menu sidebar -->
	<script th:src="@{/js/sidebarmenu.js}"></script>
	<!--Custom JavaScript -->
	<script th:src="@{/js/custom.min.js}"></script>

	<script th:src="@{/js/sweetalert2/sweetalert2.js}"></script>

	<script th:src="@{//cdn.jsdelivr.net/npm/sweetalert2@10}"></script>

	<script th:src="@{/js/datatable/jquery.dataTables.min.js}"></script>

	<script th:src="@{/js/datatable/dataTables.bootstrap4.min.js}"></script>

	<script th:src="@{https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js}"></script>

	<script th:src="@{/js/inputFloat/materialize-inputs.jquery.js}"></script>

	<script>
		$(document).ready(function () {
			$("#adminTB").DataTable();
		});
	</script>

	<script th:src="@{/js/main.js}"></script>

</body>

</html>