<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/icheck-bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/sweetalert2/sweetalert2.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/css/style.min.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/login.style.css}">

    <title>Login Admin</title>
</head>
<body class="cuenta-body">
    <div class="container">
        <div class="row vh-100">
            <div class="col-12 align-self-center">
                <div class="auth-page">
                    <div class="card auth-card shadow-lg">
                        <div class="card-body">
                            <div class="px-3">
                                
                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-2">Empezemos el Administrador</h4>
                                    <p class="text-muted mb-0">Inicie sesión para continuar a Metrica.</p>  
                                </div> <!--end auth-logo-text-->  

                                
                                <form class="form-horizontal auth-form my-4" action="@{/admin}" method="">
        
                                    <div class="form-group">
                                        <label for="email">Correo Electronico</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user icon-xs"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            </span>                                                                                                              
                                            <input type="email" class="form-control" id="email" placeholder="Ingrese Correo Electronico" name="correo_ad">
                                        </div>                                    
                                    </div><!--end form-group--> 
        
                                    <div class="form-group">
                                        <label for="password">Contraseña</label>                                            
                                        <div class="input-group mb-3"> 
                                            <span class="auth-form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key icon-xs"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                            </span>                                                       
                                            <input type="password" class="form-control" id="password" placeholder="Ingrese su Contraseña" name="contrasena_ad">
                                        </div>                               
                                    </div>
                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button type="submit" class="d-none btn btn-gradient-primary btn-round btn-block waves-effect waves-light">Iniciar Sesión <i class="fas fa-sign-in-alt ml-1"></i></button>
                                            <a th:href="@{/admin}" class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light">Iniciar Sesión <i class="fas fa-sign-in-alt ml-1"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>