<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="administrador/layout">

<body>
	<div layout:fragment="content">
		<div class="page-breadcrumb">
			<div class="row">
				<div class="col-12 d-flex no-block align-items-center">
					<h4 class="page-title">Administrador</h4>
					<div class="ms-auto text-end">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Administrador</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

               <div class="row">

                    <!--=====================================================
                    TABLA ADMINISTRADOR
                    ======================================================-->
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <a th:href="@{/admin/registroAdmin}" class="btn btn-info mb-3"><i class="mdi mdi-plus"></i> Agregar</a>
                                </div>
                                <hr>
                                <div class="col-12">
                                    <table id="adminTB" class="table display responsive nowrap table-striped" width="100%">
                                        <thead class="thead-dark">
                                            <tr class="bg-info">
                                                <th class="text-light">Codigo</th>
                                                <th class="text-light">Nombre</th>
                                                <th class="text-light">Apellido</th>
                                                <th class="text-light">Correo</th>
                                                <th class="text-light">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="admin:${administrador}"><!--Foreach-->
                                                <td class="id_admin" th:text="${admin.codigo}"></td>
                                                <td th:text="${admin.nombre_ad}"><!--Codigo--></td>
                                                <td th:text="${admin.apellido_ad}"><!--Codigo--></td>
                                                <td th:text="${admin.correo_ad}"><!--Codigo--></td>
                                                <td class="d-flex">
													<a href="" class="btn btn-primary"><i class="mdi mdi-grease-pencil"></i></a>
                                                    <a class="btn btn-danger eliminarAdmin">
                                                    	<i class="mdi mdi-delete-empty"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
				<script th:if="${success_registro != null}">
					document.addEventListener('DOMContentLoaded', () => {
						Swal.fire({
							icon: 'success',
							title: 'Ok',
							text: 'Se Registro Correctamente el Administrador'
						})
					})
				</script>

		</div>
	</div>
</body>

</html>